.heading{
  background-color: #003483;
  height: 100%;
  padding: 10px;
}
.ax{
  position: relative;
  bottom: 2px;
}

.info{
  margin-left: 20px;
}
.left{
	width: 32%;

	position: absolute;
	left: 0;
}
.topic{
  width: 32%;
  height: 100%;
  position: absolute;
  left: 10px;
}
.personal{
	text-align: center;

}
.right{
	width: 68%;
	position: absolute;
	right: 0;
	border-left: 1px solid gray;
}
.other{
	margin: 20px;
	text-align: left;
}
th{
	background-color: #003483;
	color: white;
}
th,td{
	border-bottom:1px solid #003483;
}
tr:hover{
	background-color: #FFFFFF;
}
body{
	background-color: #E1EDFF;
}
body{
	 font-family: Arial, Helvetica, sans-serif;
	 font-weight: bold;
}
